@model Task5.Models.User 

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome: @Model.Email</h1>
    <p>Имя: @Model.Name</p>
    <p>Дата регистрации: @Model.RegisterDate</p>
    <p>Дата последнего входа: @Model.LastLoginDate</p>
    <p>Статус: @Model.Status</p>
</div>
